{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
Cannot Retake Test
{% endblock %}

{% block content %}
<!-- <div class="container mt-5">
  <div class="alert alert-warning" role="alert">
    You have already taken this test. You can retake it after {{ next_attempt_date|date:"F j, Y, g:i a" }}.
  </div>
</div> -->

<div class="container mt-5">
  <div class="alert alert-warning" role="alert">
    {% if message %}
      {{ message }}
    {% elif next_attempt_date %}
      You can retake the test after {{ next_attempt_date|date:"F j, Y, g:i a" }}.
    {% else %}
      You cannot retake this test.
    {% endif %}
  </div>
</div>

{% endblock %}
