{% extends "admin_customization/Index.html" %}

{% block title %}
    {{ site_header }} Services Page
{% endblock %}

{% block admin_content %}
    <div class="container mt-5">
        <div class="container mt-5">
            <h2>{{ site_header }} Services Page</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                {{ form.titel.label_tag }} {{ form.titel }}
                </div>
                <div class="form-group">
                    {{ form.page_description.label_tag }} {{ form.page_description }}
                </div>

                <hr>
                <h4>Banner Image</h4>
                <div class="form-group">
                    {{ form.service_banner_image.label_tag }} {{ form.service_banner_image }}
                </div>
                {% if form.banner_width and form.banner_height %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.banner_width.label_tag }} {{ form.banner_width }}
                    </div>
                    <div class="col-md-6">
                        {{ form.banner_height.label_tag }} {{ form.banner_height }}
                    </div>
                </div>
                {% endif %}

                <hr>
                <h4>Left Image</h4>
                <div class="form-group">
                    {{ form.service_left_image.label_tag }} {{ form.service_left_image }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.left_width.label_tag }} {{ form.left_width }}
                    </div>
                    <div class="col-md-6">
                        {{ form.left_height.label_tag }} {{ form.left_height }}
                    </div>
                </div>

                <hr>
                <h4>Right Image</h4>
                <div class="form-group">
                    {{ form.service_right_image.label_tag }} {{ form.service_right_image }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.right_width.label_tag }} {{ form.right_width }}
                    </div>
                    <div class="col-md-6">
                        {{ form.right_height.label_tag }} {{ form.right_height }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">{{ action }} Services</button>
                <a href="{% url 'service' %}" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
